{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super}} - Cambia Passowrd {% endblock head_title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-4 text-center">
        <p>Inserisci la password attuale, per ragione di sicurezza, e poi la nuova password!</p>
        <form class=""  method="POST" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success" value="Cambia Password">
        </form>
       </div>

</div>
        
{% endblock content %}