<div class="container">
    <div class="row pt-3">
      <div class="col-sm-12">
        <h2 class="text-center mb-4">AMO FILIPPO FRINCIPATO</h2>
        
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-6">
        <form #translator="ngForm" (ngSubmit)="send()">
            <textarea class="form-control" name="spanish" placeholder="Text to translate"   rows="10" required [(ngModel)]="googleObj.q"></textarea>
        <br>
        <br>
          <div class="d-flex justify-content-between">
            
            <button class="btn btn-danger" type="button"  color="accent" (click)="googleObj.q = ''; result = ''">Cancella</button>
           
            <button class="btn btn-success" type="submit" id="btnSubmit"  color="primary" [disabled]="!translator.valid">Translate</button>
            
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <label for="english" class="font-weight-bold">Result:</label>
        <p>{{result}}</p>
      </div>
    </div>
  </div>
  