
code/WordCommunity/WordCommunity/__pycache__/__init__.cpython-38.pyc
code/WordCommunity/WordCommunity/__pycache__/settings.cpython-38.pyc
code/WordCommunity/WordCommunity/__pycache__/urls.cpython-38.pyc
