{% extends 'base.html' %}


{% block head_title %}{{ block.super}} - {{articolo.titolo}} {% endblock head_title %}


{% block content %}
<div class="card" style="width: 45rem ; height: 35rem">
  <div class="card-body" style="width: 100% ;">
    <h5 class="card-title">{{articolo.titolo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Creato da: @{{articolo.autore_articolo}}</h6>
    <p class="card-text">{{articolo.data_creazione}}</p>

    <p>Indice: {{index}}</p>
    <div style="overflow-y:auto;width: 100%;height: 25rem;overflow: scroll;">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Termine:</th>
            <th scope="col">Frequenza:</th>
          </tr>
        </thead>
        <tbody>
          {% for p, val in parole.items%}
          <tr scope="row">
            <td>{{p}}</td>
            <td>{{val}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>
<script>
  $(document).ready(function () {
      $('#example').DataTable();
    });
</script>

{% endblock content %}