{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super}} - Crea Nuovo Articolo {% endblock head_title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-4">
        <h2>Crea Nuovo Articolo</h2>
        <form class=""  method="POST"  novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success" value="Crea">
        </form>
       </div>

</div>
        
{% endblock content %}